.mat-elevation-z8 {
  overflow: hidden;
}

.scroll-container {
  height: 500px; // Altura por defecto, puede personalizarse
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  // Webkit browsers
  &::-webkit-scrollbar-track {
    background: var(--container-primary-border);
  }

  &::-webkit-scrollbar {
    background: transparent;
    width: 15px;
    height: 15px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--container-primary-border-hover);
    border-radius: 6px;
  }

  // Firefox — set track color while keeping thumb automatic
  scrollbar-color: auto var(--container-primary-border);
  scrollbar-width: auto;
}

mat-table {
  width: 100%;
  background: var(--grid-primary-bg);  
}

mat-header-row {
  background-color: var(--grid-header-primary-bg);
  color: var(--grid-header-primary-text)
}

mat-cell {
  background-color: var(--grid-row-primary-bg);
  color: var(--grid-row-primary-text);  
}

mat-row:hover {
  background-color: #93bff2;
}

mat-paginator {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.mat-row.selected {
  background-color: #5c47aa;
}

.actions-column {
  display: flex;
  justify-content: center;
  width: auto !important;
  flex: 0 0 auto;
}

.actions-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1; 
   
}

