<app-generic-message></app-generic-message>
<app-generic-layout [title]="'TITLE.entities' | translate" class="entities-container">
    <app-generic-actions 
        headerActions
        (actionClick)="onAction($event)">
    </app-generic-actions>

    <app-entity-grid-filter 
        filterContent
        class="entities-container__filter"
        [filter]="filterParameters"
        (apply)="onFilterApplied($event)">
    </app-entity-grid-filter>
 
     <app-entity-grid 
        gridContent        
        class="entities-container__grid"
        (edit)="onEdit($event)"
        (delete)="onDeleteEntity($event)"
        (open)="onOpenEntity($event)"
        (sortChange)="onSortChange($event)"
        (scrollEndChange)="onLoadNextPage()">        
    </app-entity-grid>

    <div formContent>
        <mat-tab-group>
            <mat-tab *ngFor="let entityId of openedEntitiesId; let i = index">
                <ng-template mat-tab-label>
                    <div class="entities-container__tab" (click)="selectedEntityId = entityId">
                        <div class="entities-container__tab-label">
                            {{ getEntityById(entityId)?.description || 'Nueva Entidad' }}
                        </div>
                        <button mat-icon-button class="entities-container__tab-button" (click)="onCloseTab(entityId); $event.stopPropagation()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </div>
                </ng-template>
                <app-entity-form 
                    formContent
                    [entityId]="entityId"
                    (save)="onSaveEntity($event)" 
                    (cancel)="onCancelEntity()">
                </app-entity-form>
            </mat-tab>
        </mat-tab-group>
    </div>
</app-generic-layout>