<app-generic-message></app-generic-message>
<app-generic-layout [title]="'TITLE.articles' | translate" class="articles-container">

  <app-generic-actions
    headerActions
    (actionClick)="onAction($event)">
  </app-generic-actions>

  <app-article-grid-filter
    filterContent
    class="articles-container__filter"
    [filter]="filterParameters"
    (apply)="onFilterApplied($event)">
  </app-article-grid-filter>

  <app-article-grid
    gridContent
    class="articles-container__grid"
    (changePage)="onPageChange($event)"
    (edit)="onEdit($event)"
    (delete)="onDeleteArticle($event)"
    (open)="onOpenArticle($event)">
  </app-article-grid>

  <div formContent>
    <mat-tab-group>
      <mat-tab *ngFor="let articleId of openedArticlesId; let i = index">
        <ng-template mat-tab-label>
          <div class="articles-container__tab" (click)="onClickTab(articleId)">
            <div class="articles-container__tab-label">
              {{ (getArticleById(articleId)?.codigoAsy || 'Art\u00edculo') + ' - ' + (getArticleById(articleId)?.description || '') }}
            </div>
            <button mat-icon-button class="articles-container__tab-button" (click)="onCloseTab(articleId); $event.stopPropagation()">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </ng-template>
        <app-article-form
          formContent
          [articleId]="articleId"
          (save)="onSaveArticle($event)"
          (cancel)="onCancelArticle()">
        </app-article-form>
      </mat-tab>
    </mat-tab-group>
  </div>

</app-generic-layout>
